* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #cbc1a8cc;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px;
}

.logo img {
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 40px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #6fcf97;
}

.introduccion {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/ca/Autumn_Drone_%28cropped%29.jpg");
    background-size: cover;
    background-position: center center;
    color: #000000;
    text-align: center;
    padding: 100px 0;
    font-weight: bold;
}

.fondo-transparente {
    background-color: #ffffff;
    opacity: 0.8; 
}

.introduccion h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.introduccion p {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.boton-primario {
    display: inline-block;
    background-color: #6fcf97;
    color: #000000;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.boton-primario:hover {
    background-color: #1abc9c;
}

.productos {
    padding: 100px 0;
}

.productos h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}

.productos p {
    font-size: 1.8rem;
    margin-bottom: 40px;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 10px 20px #6fcf97cc;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.boton-secundario {
    display: inline-block;
    background-color: #6fcf97;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.boton-secundario:hover {
    background-color: #1abc9c;
}

.servicios {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 20px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1000px;
  }
  
  .service {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px;
    width: calc(33.33% - 20px);
  }
  
  .service img {
    display: block;
    margin-bottom: 15px;
    max-width: 100%;
  }
  
  .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

/* Estilos del footer */

footer {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 1.2rem;
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    margin-bottom: 40px;
  }
  
  .about {
    flex-basis: 40%;
  }
  
  .about p {
    margin-top: 20px;
    line-height: 1.5;
  }
  
  .contact {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .contact span {
    margin-left: 10px;
  }
  
  .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .social a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
    


  
  .carousel-container {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  text-align: center;
}

.carousel-slide {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.carousel-item {
  position:relative;
  width: 25%;
  height: 100%;
  padding: 0 10px;
  box-sizing:border-box;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.carousel-item:hover .carousel-item-desc {
  opacity: 1;
}

.carousel-nav {
  position: absolute;
  bottom: 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.carousel-prev,
.carousel-next {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: #555;
}

.carousel-prev:disabled,
.carousel-next:disabled {
  opacity: 0.5;
  cursor: default;
}


/*carrousel 2*/

.carousel-container2 {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  text-align: center;
}

.carousel-slide2 {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.carousel-item2 {
  position:relative;
  width: 25%;
  height: 100%;
  padding: 0 10px;
  box-sizing:border-box;
}

.carousel-item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-desc2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.carousel-item2:hover .carousel-item-desc2 {
  opacity: 1;
}

.carousel-nav2 {
  position: absolute;
  bottom: 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.carousel-prev2,
.carousel-next2 {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.carousel-prev2:hover,
.carousel-next2:hover {
  background-color: #555;
}

.carousel-prev2:disabled,
.carousel-next2:disabled {
  opacity: 0.5;
  cursor: default;
}

#productos-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.producto {
  flex: 1 0 30%;
  margin: 10px;
  text-align: center;
  background-color:#cbc1a8cc;
  border: #000000;
  border-radius: 0px;
  border-style: double;
  display: inline-block;
}

.producto img {
  max-width: 80%;
  height: 50%;
}

.producto h3 {
  margin-top: 50px;
}

.precio {
  font-weight: bold;
  font-size: 1.2em;
}


.botoncito{
  display: inline-block;
  background-color: #6fcf97;
  color: #000000;
  border: none;
  padding: 10px 70px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

.botoncito:hover {
  background-color: #1abc9c;
}

#productos-container .producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botoncito {
  margin-top: 1rem; /* Agrega un poco de espacio encima del botón */
  margin-bottom: 1rem; /*Agrega un poco de espacio debajo del boton */
}














  
  