* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
}

.logo img {
  height: 60px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav ul li a:hover {
  color: #c8612d;
}

.introduccion {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/ca/Autumn_Drone_%28cropped%29.jpg");
  background-size: cover;
  background-position: center center;
  color: #000000;
  text-align: center;
  padding: 60px 0;
  font-weight: bold;
}

.fondo-transparente {
  background-color: #ba5c2ecc;
  opacity: 0.8;
}

/*parte del css del cuadro de la parte de arriba de eansa junto al logo*/
.class2 {
  display:flex;
  align-items:center;
  justify-content: center; /* Centra horizontalmente el contenido */
}

.class2 .logo2 {
  width: 500px; /* Ajusta el ancho del logo según tus necesidades */
  height: 400px; /* Ajusta la altura del logo según tus necesidades */
}

.class2 .text {
  font-size: 50px; /* Ajusta el tamaño de fuente según tus necesidades */
  font-weight: bold; /* Opcional: ajusta el peso de la fuente según tus necesidades */
}

.introduccion h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.introduccion p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.boton-primario {
  display: inline-block;
  background-color: #ba5c2e;
  color: #000000;
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.boton-primario:hover {
  background-color: #c8612d;
}

.productos {
  padding: 60px 0;
}

.productos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  background-color: #c8612d;
}

.productos p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 2px 5px #0000001a;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 5px 10px #c8612d;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.boton-secundario {
  display: inline-block;
  background-color: #ba5c2e;
  color: #000000;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  }
  
  .boton-secundario:hover {
  background-color: #c8612d;
  }
  
  .servicios {
  background-color: #c8612d;
  color: #000000;
  text-align: center;
  font-size: 16px;
  }
  
  .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1000px;
  }
  
  .service {
  background-color: #c8612d;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #00000033;
  margin-bottom: 20px;
  padding: 10px;
  width: calc(50% - 10px);
  }
  
  .service:nth-child(odd) {
  margin-right: 10px;
  }
  
  .service img {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
  }
  
  .service h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  }
  
  .service p {
  font-size: 1rem;
  line-height: 1.5;
  }

/* Estilos del footer */

footer {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 1.2rem;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  margin-bottom: 40px;
  width: 100%;
}

.about {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.about p {
  margin-top: 20px;
  line-height: 1.5;
}

.contact {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contact span {
  margin-left: 10px;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links li {
  margin-bottom: 10px;
}

.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  margin-right: 20px;
}

.social a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

    

/*carrousel 1*/
  
  .carousel-container {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  text-align: center;
}

.carousel-slide {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.carousel-item {
  position:relative;
  width: 25%;
  height: 100%;
  padding: 0 10px;
  box-sizing:border-box;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.carousel-item:hover .carousel-item-desc {
  opacity: 1;
}

.carousel-nav {
  position: absolute;
  bottom: 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.carousel-prev,
.carousel-next {
  padding: 10px 20px;
  border: none;
  background-color: #ba5c2e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: #c8612d;
}

.carousel-prev:disabled,
.carousel-next:disabled {
  opacity: 0.5;
  cursor: default;
}


/*carrousel 2*/

.carousel-container2 {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  text-align: center;
}

.carousel-slide2 {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.carousel-item2 {
  position:relative;
  width: 25%;
  height: 100%;
  padding: 0 10px;
  box-sizing:border-box;
}

.carousel-item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-desc2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.carousel-item2:hover .carousel-item-desc2 {
  opacity: 1;
}

.carousel-nav2 {
  position: absolute;
  bottom: 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.carousel-prev2,
.carousel-next2 {
  padding: 10px 20px;
  border: none;
  background-color: #ba5c2e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.carousel-prev2:hover,
.carousel-next2:hover {
  background-color: #c8612d;
}

.carousel-prev2:disabled,
.carousel-next2:disabled {
  opacity: 0.5;
  cursor: default;
}

#productos-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.producto {
  flex: 1 0 30%;
  margin: 10px;
  text-align: center;
  background-color:#cbc1a8cc;
  border: #000000;
  border-radius: 0px;
  border-style: double;
  display: inline-block;
}

.producto img {
  max-width: 80%;
  height: 50%;
}

.producto h3 {
  margin-top: 50px;
}

.precio {
  font-weight: bold;
  font-size: 1.2em;
}


.botoncito{
  display: inline-block;
  background-color: #ba5c2e;
  color: #000000;
  border: none;
  padding: 10px 70px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

.botoncito:hover {
  background-color: #c8612d;
}

#productos-container .producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botoncito {
  margin-top: 1rem; /* Agrega un poco de espacio encima del botón */
  margin-bottom: 1rem; /*Agrega un poco de espacio debajo del boton */
}






/*Css del login*/

body {
  font-family: Arial, sans-serif;
  
}

.login-container {
  max-width: 500px;
  margin:100px auto;
  padding: 20px;
  background-color: #cbc1a8cc;
  border-radius: 100px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.h22 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 15px;
}

label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #000000;
  font-size: 35px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #6fcf97;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bolder;
}

button[type="submit"]:hover {
  background-color: #1abc9c;
}

.forgot-password,
.register-link {
  margin-top: 20px;
  text-align: center;
}

.forgot-password a,
.register-link a {
  color: #008CBA;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover,
.register-link a:hover {
  text-decoration: underline;
}

.social-login i:hover{

  color: #000000;
}

.social-login {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
}

.social-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  margin: 0 10px;
  background-color: #cbc1a8cc;
  border-radius: 50%;
  color: rgb(37, 118, 168);
}



/*css del registro de usuario*/

.registration-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: #cbc1a8cc;
  
}


/*Fondo de la pagina entera opaco*/
.registration-container::before {
  content: "";
  display: block;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ca/Autumn_Drone_%28cropped%29.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.fondito::before{
  content: "";
  display: block;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ca/Autumn_Drone_%28cropped%29.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

/*fondo del div de la parte del index de los servicios*/
.divisol {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/ca/Autumn_Drone_%28cropped%29.jpg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-column {
  flex-basis: calc(50% - 10px);
}

.form-column label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-column input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 22px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #6fcf97;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1abc9c;
}








body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.course-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px #ba5c2e;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  color: #ba5c2e;
}

.course-card img {
  width: 100%;
  height: auto;
}

.course-card h2 {
  margin-top: 10px;
  font-size: 24px;
}

.course-card p {
  margin-top: 10px;
}

.course-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.course-link:hover {
  background-color: #c8612d;
}

.h1sito{
  text-align: center;
  background-color: black;
}

.divsito{
  text-align: center;
}


/*parte descriptiva de los cursos*/

.collapsible {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffffcc;
  border-radius: 5px;
  overflow: hidden;
}

.collapsible-header {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #ba5c2e;
}

.collapsible-header h3 {
  flex-grow: 1;
  margin: 0;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapsible input[type="checkbox"] {
  display: none;
}

.collapsible input[type="checkbox"]:checked ~ .collapsible-content {
  max-height: 1000px; /* Adjust this value to suit your needs */
}

/*centrar boton del curso*/
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Adjust this value to center vertically in the viewport */
  text-align: center;
  }


/*parte de los iconos de redes sociales del inicio*/
  .social-icons {
    float: right;
    clear: both;
  }
  
  .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #c8612d;
  }

  /*carrousel de la mision y vision, etc*/

  .carousel-container5 {
    position:relative;
    width: 100%;
    height: 600px;
    overflow:hidden;
    text-align: center;
  }
  
  .carousel-slide5 {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-item5 {
    position: relative;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size:cover;
    padding: 0 10px;
    box-sizing: border-box;
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-item-desc5 {
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 200px;
    background-color: #c8612dcc;
    color: #fff;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .carousel-item5:hover {
    transform: scale(1.05);
  }
  
  .carousel-item5:hover .carousel-item-desc5 {
    opacity: 1;
  }
  
  .carousel-prev5,
  .carousel-next5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  .carousel-prev5:hover,
  .carousel-next5:hover {
    opacity: 0.8;
    color: #ba5c2e;
  }
  
  .carousel-prev5 {
    left: 10px;
  }
  
  .carousel-next5 {
    right: 10px;
  }


/* css de las redes sociales a la derecha siguiendo el scrolling*/
 .social-circle25 {
  position:fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.social-icon25 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ba5c2e;
  border-radius: 50%;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: float25 2s ease-in-out infinite;
}

.social-icon25:hover {
  transform: translateY(5px) scale(1.1);
  background-color: #c8612d; /* Cambia el color al pasar el cursor */
}

@keyframes float25 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/*css de la parte de abajo de las empresas y organismos aliados a eansa*/
.logox {
  width: 120px; /* Ajusta el ancho de los logos según tus necesidades */
  height: 120px; /* Ajusta la altura de los logos según tus necesidades */
  margin-left: 80px; /* Ajusta el margen derecho para crear separación entre los logos */
  transition: transform 0.3s; /* Agrega una transición suave al cambio de tamaño */
}

.logox:last-child {
  margin-right: 0; /* Elimina el margen derecho del último logo para evitar espacio adicional */
}

.logox:hover {
  transform: scale(1.1); /* Hace que los logos se agranden un 10% al pasar el mouse por encima */
}